# specific to fitting

# label font
lf_ = ',6'
xpos = .1
ypos = .9
dy = .1

{% if datainfo.title == 'hobbit' %}
ypos = .3
dx=.5
set label 1 "\\tiny {{ datainfo.title }}" at graph (xpos+dx),(ypos-0*dy)  font ',6'
{% else %}
dx=0
set label 1 "\\tiny {{ datainfo.title }}" at graph (xpos+dx),(ypos-0*dy)  font ',6'
{% endif %}

{% if datainfo.rvalue < 0.01 %}
set label 2 gprintf("\\tiny r=%.2e", {{ datainfo.rvalue }}) at graph (xpos+dx),(ypos-dy)
{% else %}
set label 2 gprintf("\\tiny r=%1.2f", {{ datainfo.rvalue }}) at graph (xpos+dx),(ypos-dy)
{% endif %}

{% if datainfo.ptest < 0.01 %}
set label 3 gprintf("\\tiny p=%.2e", {{ datainfo.ptest }}) at graph (xpos+dx),(ypos-2*dy)
{% else %}
set label 3 gprintf("\\tiny p=%1.2f", {{ datainfo.ptest }}) at graph (xpos+dx),(ypos-2*dy)
{% endif %}

# ls 1 and ls 2 are set in settings.gp.j2
f(x) = {{ datainfo.slope }}*x + {{ datainfo.intercept }}
plot  "{{ datainfo.filename }}" using 1:2 ls 1 notitle, f(x) ls 2 notitle
