#!/usr/bin/env gnuplot
# Multiplot books in the same figure.
# The variables are the measures studied like 'Betweenness x Lobby'.

reset
set macros  # enable macros

ncols = 3
nrows = 4

# set key autotitle columnhead
set term postscript
set output "/tmp/{{ plotinfo.xlabel }}_{{ plotinfo.ylabel }}{{ extension }}"
unset title

min = 1e-3
max = 1.0

set xrange [min:max]
set yrange [min:max]

set logscale xy
set format '$%g$'
set format x '$10^{\%T}$'
set format y '$10^{\%T}$'

# MACROS

## AXIS
NOXTICS = "set xtics ('' 1e-3, '' 1e-2, '' 1e-1)"
NOYTICS = "set ytics ('' 0.0, '' .5)"
NOX = "unset xlabel; @NOXTICS"
NOY = "unset ylabel; @NOYTICS"
XTICS = "set xlabel '{{ plotinfo.xlabel }}'; set xtics ('10^{-3}' 1e-3, '10^{-2}' 1e-2, '10^{-1}' 1e-1)"
YTICS = "set ylabel '{{ plotinfo.ylabel }}'; set ytics ('10^{-3}' 1e-3, '10^{-2}' 1e-2, '10^{-1}' 1e-1)"

# END of MACROS

# PLOT
spc = .04
## vertical
top = 1 - spc
vspace = 1 - 4*spc
## horizontal
left = 3*spc
hspace = 1 - 6*spc

set multiplot layout 4,3 rowsfirst
{% for datainfo in plotinfo.datainfos %}

# set axis
{% if loop.index0 < 9 %}
@NOX
{% else %}
@XTICS
{% endif %}
{% if loop.index0 % 3 == 0 %}
@YTICS
{% else %}
@NOY
{% endif %}

tmargin_ = top - ({{ loop.index0 }}/ncols)*(vspace/nrows)
bmargin_ = tmargin_ - vspace/nrows
set tmargin at screen gprintf("%1.2f", tmargin_)
set bmargin at screen gprintf("%1.2f", bmargin_)

lmargin_ = left + ({{ loop.index0 }}%ncols)*(hspace/ncols)
rmargin_ = lmargin_ + (hspace/ncols)
set lmargin at screen gprintf("%1.2f", lmargin_)
set rmargin at screen gprintf("%1.2f", rmargin_)

unset label 1
unset label 2
unset label 3
set label 1 "{{ datainfo.title }}" at graph .825,.9  font ',6'
set label 2 gprintf("r=%1.2f", {{ datainfo.rvalue }}) at graph .825,.85  font ',6'
set label 3 gprintf("p=%.2e", {{ datainfo.ptest }}) at graph .825,.8  font ',6'

FIT_LIMIT = 1e-3
f(x) = {{ datainfo.slope }}*x + {{ datainfo.intercept }}
plot  "{{ datainfo.filename }}" using 1:2, f(x) notitle

{% endfor %}

