#!/usr/bin/env gnuplot
# Multiplot books in the same figure.
# The variables are the measures studied like 'Betweenness x Lobby'.

{% include 'settings.gp.j2' %}

ncols = {{ ncols }}
nrows = {{ nrows }}

# MACROS
{% if plot_measure == 'assortativity' or plot_measure == 'cdf' %}
# redefine {X,Y}LABEL to support math symbol in LaTeX
XLABEL = "set xlabel '\\lblfmt ${{ PlotInfo.xlabel }}$'"
YLABEL = "set ylabel '\\lblfmt ${{ PlotInfo.ylabel }}$' offset ylabel_xoff,0"
{% endif %}

set mxtics 10
set mytics 10

## AXIS
# X
{% if plot_measure == 'cdf' %}
set xtics 10
NOXTICS = "set xtics add ('' 1, '' 10, '' 100)"
NOX = "unset xlabel; @NOXTICS"
XTICS = "@XLABEL; set xtics add ('\\lblfmt $10^0$' 1, '\\lblfmt $10^1$' 10, '' 100);"
XTICS1 = "@XLABEL; set xtics add ('\\lblfmt $10^0$' 1,  '\\lblfmt $10^1$' 10, '\\lblfmt $10^2$' 100);"
{% else %}
set xtics 0.5
NOXTICS = "set xtics add ('' 0.0, '' .5, '' 1.0)"
NOX = "unset xlabel; @NOXTICS"
XTICS = "@XLABEL; set xtics add ('\\lblfmt 0.0' 0.0, '\\lblfmt 0.5' .5, '' 1.0);"
XTICS1 = "@XLABEL; set xtics add ('\\lblfmt 0.0' 0.0,  '\\lblfmt 0.5' .5, '\\lblfmt 1.0' 1.0);"
{% endif %}

# Y
{% if plot_measure == 'centralities' %}
set ytics 0.25
NOYTICS = "set ytics add ('' 0.0, '' .25, '' .5);"
NOY = "unset ylabel; @NOYTICS"
YTICS = "@YLABEL; set ytics add ('\\lblfmt 0.0' 0.0,  '\\lblfmt 0.25' .25, '' .5);"
YTICS1 = "@YLABEL; set ytics add ('\\lblfmt 0.0' 0.0,  '\\lblfmt 0.25' .25, '\\lblfmt 0.5' 0.5);"
{% elif plot_measure == 'assortativity' %}
set ytics .5
NOYTICS = "set ytics add ('' 0, '' .5, '' 1.0);"
NOY = "unset ylabel; @NOYTICS"
YTICS = "@YLABEL; set ytics add ('\\lblfmt 0.0' 0,  '\\lblfmt 0.5' .5, '' 1.0);"
YTICS1 = "@YLABEL; set ytics add ('\\lblfmt 0.0' 0,  '\\lblfmt 0.5' .5, '\\lblfmt 1.0' 1.0);"
{% else %}
set ytics 0.1
NOYTICS = "set ytics add ('' .01, '' .1, '' 1)"
NOY = "unset ylabel; @NOYTICS"
YTICS = "@YLABEL; set ytics add ('\\lblfmt $10^{-2}$' .01,  '\\lblfmt $10^{-1}$' .1, '' 1);"
YTICS1 = "@YLABEL; set ytics add ('\\lblfmt $10^{-2}$' .01,  '\\lblfmt $10^{-1}$' .1, '\\lblfmt $10^0$' 1.0);"
{% endif %}


# END of MACROS

# PLOT
spc = .04
## vertical
top = 1 - spc
vspace = 1 - 4*spc
## horizontal
left = 3*spc
hspace = 1 - 6*spc

set multiplot layout {{ nrows }},{{ ncols }} rowsfirst

{% for datainfo in PlotInfo.datainfos %}
# set x

{% if plot_measure == 'cdf' %}
set logscale xy
{% endif %}

{% if loop.index0 < 9 %}
@NOX
{% else %}
{% if loop.index0 == 11 %}
@XTICS1
{% else %}
@XTICS
{% endif %}
{% endif %}

# set y
{% if loop.index0 % 3 == 0 %}
{% if loop.index0 == 0 %}
@YTICS1
{% else %}
@YTICS
{% endif %}
{% else %}
@NOY
{% endif %}

tmargin_ = top - ({{ loop.index0 }}/ncols)*(vspace/nrows)
bmargin_ = tmargin_ - vspace/nrows
set tmargin at screen gprintf("%1.2f", tmargin_)
set bmargin at screen gprintf("%1.2f", bmargin_)

lmargin_ = left + ({{ loop.index0 }}%ncols)*(hspace/ncols)
rmargin_ = lmargin_ + (hspace/ncols)
set lmargin at screen gprintf("%1.2f", lmargin_)
set rmargin at screen gprintf("%1.2f", rmargin_)

{% if plot_measure == 'centralities' or plot_measure == 'density' or plot_measure == 'cdf'  %}
{% include 'fit.gp.j2' %}
{% else %}
{% include 'avg.gp.j2' %}
{% endif %}

{% endfor %}

