#!/usr/bin/env gnuplot

# produce graph containing only 1 plot

{% include 'settings.gp.j2' %}

@XLABEL
@YLABEL

xlabelpos = .1
ylabelpos = .9
d = .015

{% if pvalue < 0.01 %}
set label 1 gprintf("\\lblfmt p=%.2e", {{ pvalue }}) at graph xlabelpos,(ylabelpos-3*d)
{% else %}
set label 1 gprintf("\\lblfmt p=%1.2f", {{ pvalue }}) at graph xlabelpos,(ylabelpos-3*d)
{% endif %}

set label 2 gprintf("\\lblfmt r=%1.2f", {{ rvalue }}) at graph xlabelpos,ylabelpos

# ls 2 is set in settings.gp.j2
f(x) = {{ slope }}*x + {{ intercept }}
plot  "{{ filename }}" using 2:3:(LabelFmt($1)) with labels notitle, f(x) ls 2 notitle

