# common settings

reset
set macros  # enable macros

set term epslatex header \
    "\\newcommand{\\lblfmt}[0]{\\footnotesize}"

path = "{{ plotinfo.title }}{{ extension }}"
set output path
print "-> ", path

# font
LabelFmt(String) = gprintf("{\\lblfmt %s}", String)

# points
set style line 1 pt 7  ps .5 lc 'black'

# lines
set style line 2 lw 1.5 lt 2 dt 2 lc rgb '#808080'
set style line 3 lw 3 lc rgb 'black' ps 2 pt 9 pi 5

# labels
XLABEL = "set xlabel '\\lblfmt {{ plotinfo.xlabel }}' offset 0,.25,0"
YLABEL = "set ylabel '\\lblfmt {{ plotinfo.ylabel }}' offset 3,0,0"

# bounds
xmin = ymin = 0
{% if plot_measure == 'cdf' %}
xmin = 1
ymin = 0.01
{% endif %}

xmax = {{ xmax }}
ymax = {{ ymax }}

set xrange [xmin:xmax]
set yrange [ymin:ymax]
